<body style="
background-color: #e9d9a8;
font-family: 'Playfair Display SC', serif;
"> 
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">
<p id="notice"><%= notice %></p>

<div 
style="
text-align: center;
">
<MAP NAME="barre">
<AREA SHAPE="RECT" COORDS="510,285,540,315" HREF="#item-1">
<AREA SHAPE="RECT" COORDS="497,285,525,256," HREF="#item-2">
<AREA SHAPE="RECT" COORDS="495,335,523,310" HREF="#item-3">
<AREA SHAPE="RECT" COORDS="320,45,390,78" HREF="xml.htm" ALT="Notions XML">
</MAP>
<IMG SRC="https://nsa40.casimages.com/img/2020/01/08/20010805402737907.jpg" USEMAP="#barre" border=0 width=1100 height=710>
</div>
<br>
<br>

<div class="container" 
style="
text-align: center;
">
<h1>MASTERPIECES</h1>

<button type="button" class="btn btn-lg btn-block btn-dark"><%= link_to 'New Masterpiece', new_masterpiece_path %></button>
</div>

<br>
<br>

<div data-spy="scroll" data-target="#navbar-example3" data-offset="0" style="
text-align: center;
">


<% @countries.each do |country| %>
  <h2 id="item-<%= country.id %>"><%= country.name %></h2>
  <div class="container">
    <div class="row">
      <% country.masterpieces.each do |masterpiece| %>
          <div class="col-sm-6 card" style="
          width: 18rem;

          ">
            <img src="<%= masterpiece.Picture %>" class="card-img-top" alt="...">
            <div class="card-body" style="text-align: left;">
              <h5 class="card-title"><%= masterpiece.Name %></h5>
              <h6 class="card-title"><%= masterpiece.Artist %></h6>
              <p class="card-text"><%= masterpiece.Description %></p>
              <a href="#" class="card-link"><%= link_to 'Show', masterpiece %> | </a>
              <a href="#" class="card-link"><%= link_to 'Edit', edit_masterpiece_path(masterpiece) %> | </a>
              <a href="#" class="card-link"><%= link_to 'Destroy', masterpiece, method: :delete, data: { confirm: 'Are you sure?' } %></a>
            </div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>
</body>