<body style="
background-color: #e9d9a8;
font-family: 'Playfair Display SC', serif;
"> 
<link href="https://fonts.googleapis.com/css?family=Playfair+Display+SC&display=swap" rel="stylesheet">
<p id="notice"><%= notice %></p>

<div 
style="
text-align: center;
">
<MAP NAME="barre">
<AREA SHAPE="RECT" COORDS="522,302,546,262" HREF="#item-1">
<AREA SHAPE="RECT" COORDS="492,281,520,241," HREF="#item-2">
<AREA SHAPE="RECT" COORDS="490,331,516,297" HREF="#item-3">
<AREA SHAPE="RECT" COORDS="557,319,591,287" HREF="#item-4">
<AREA SHAPE="RECT" COORDS="552,290,585,259" HREF="#item-5">
<AREA SHAPE="RECT" COORDS="530,244,553,204" HREF="#item-6">
<AREA SHAPE="RECT" COORDS="732,212,761,172" HREF="#item-7">
<AREA SHAPE="RECT" COORDS="216,335,241,295" HREF="#item-8">
<AREA SHAPE="RECT" COORDS="508,399,532,359" HREF="#item-9">
<AREA SHAPE="RECT" COORDS="844,353,878,320" HREF="#item-10">
</MAP>
<IMG SRC="https://nsa40.casimages.com/img/2020/01/14/200114012215517325.png" USEMAP="#barre" border=0 width=1100 height=710>
</div>
<br>
<br>

<div class="container" 
style="
text-align: center;
">

<button type="button" class="btn btn-lg btn-block btn-dark"><%= link_to 'New Masterpiece', new_masterpiece_path %></button>
</div>

<br>
<br>

<div data-spy="scroll" data-target="#navbar-example3" data-offset="0" style="
text-align: center;
">


<% @countries.each do |country| %>
  <h1 id="item-<%= country.id %>"><%= country.name %></h1>
  <div class="container">
    <div class="row">
      <% country.masterpieces.each do |masterpiece| %>
          <div class="col-sm-6 card" style="
          width: 18rem;

          ">
            <img src="<%= masterpiece.Picture %>" class="card-img-top" alt="...">
            <div class="card-body" style="text-align: left;">
              <h5 class="card-title"><%= masterpiece.Name %></h5>
              <h6 class="card-title"><%= masterpiece.Artist %></h6>
              <p class="card-text"><%= masterpiece.Description %></p>
              <a href="#" class="card-link"><%= link_to 'Show', masterpiece %> | </a>
              <a href="#" class="card-link"><%= link_to 'Edit', edit_masterpiece_path(masterpiece) %> | </a>
              <a href="#" class="card-link"><%= link_to 'Destroy', masterpiece, method: :delete, data: { confirm: 'Are you sure?' } %></a>
            </div>
          </div>
      <% end %>
    </div>
  </div>
<% end %>
</div>
</body>