<body class="container" style="
background-color: #e9d9a8;
font-family: 'Playfair Display SC', serif;
">
<%= simple_form_for masterpiece do |f| %>
  <%= f.input :Name %>
  <%= f.input :Artist %>
  <%= f.input :Picture %>
  <%= f.association :country %>
  <%= f.input :Description %>

  <button type="button" class="btn btn-lg btn-primary"><%= f.button :submit %></button>
<% end %>
</body>