<body style="
background-color: #e9d9a8;
font-family: 'Playfair Display SC', serif;

">

<div class="container">
<p id="notice"><%= notice %></p>

<p>
  <h1><%= @masterpiece.Name %></h1>
</p>

<p>
  <h2><%= @masterpiece.Artist %></h2>
</p>

<p>
  <img src="<%= @masterpiece.Picture %>">
</p>

<p>
  <h4><%= @masterpiece.Description %></h4>
</p>


<p>
  <h4>Pays:  <%= @masterpiece.country.name %></h4>
</p>


<button type="button" class="btn btn-light"><%= link_to 'Edit', edit_masterpiece_path(@masterpiece) %></button>
<button type="button" class="btn btn-light"><%= link_to 'Back', countries_path %></button>
</div>
<br>
<br>
</body>